@import '../../../node_modules/antd/dist/antd.css';

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.map-container{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.cat_select {
  position: fixed;
  top: 4rem;
  left: 4rem;
  /*height: 100%;
  width: 100%;*/
  z-index: 2;
  display: block;
}

.outer_wrap {
  position: fixed;
  z-index: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}